<h2>Registration Page</h2>
<mat-card class = "registrationCard">:
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Surname">
    </mat-form-field>
   <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    -->
    <mat-form-field>
      <mat-select placeholder="County">
        <mat-option value="option">Antrim</mat-option>
        <mat-option value="option">Armagh</mat-option>
        <mat-option value="option">Carlow</mat-option>
        <mat-option value="option">Cavan</mat-option>
        <mat-option value="option">Clare</mat-option>
        <mat-option value="option">Cork</mat-option>
        <mat-option value="option">Derry</mat-option>
        <mat-option value="option">Donegal</mat-option>
        <mat-option value="option">Down</mat-option>
        <mat-option value="option">Dublin</mat-option>
        <mat-option value="option">Fermanagh</mat-option>
        <mat-option value="option">Galway</mat-option>
        <mat-option value="option">Kerry</mat-option>
        <mat-option value="option">Kildare</mat-option>
        <mat-option value="option">Kilkenny</mat-option>
        <mat-option value="option">Laois</mat-option>
        <mat-option value="option">Leitrim</mat-option>
        <mat-option value="option">Limerick</mat-option>
        <mat-option value="option">Longford</mat-option>
        <mat-option value="option">Louth</mat-option>
        <mat-option value="option">Mayo</mat-option>
        <mat-option value="option">Meath</mat-option>
        <mat-option value="option">Monaghan</mat-option>
        <mat-option value="option">Offaly</mat-option>
        <mat-option value="option">Roscommon</mat-option>
        <mat-option value="option">Sligo</mat-option>
        <mat-option value="option">Tipperary</mat-option>
        <mat-option value="option">Tyrone</mat-option>
        <mat-option value="option">Waterford</mat-option>
        <mat-option value="option">Westmeath</mat-option>
        <mat-option value="option">Wexford</mat-option>
        <mat-option value="option">Wicklow</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder = "Gender">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder = "Sexuality">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder = "Bio"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
