/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fed;
    border-color: #fed transparent #fed transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


h2{
  color: cadetblue;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px !important;
}

h3{
  color: cadetblue;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px !important;
}

span{
  text-align: center;
}
