<div class = "container">
  <!-- chatlist will have an ngif menu open -->
  <div *ngIf = "isMenuOpen" [ngClass] = "{'openChatlist': isMenuOpen, 'closedChatlist': !isMenuOpen}"  class = "chatList">
    <div style = "text-align: left">
      <button mat-icon-button class = "closeMenuButton" (click) = "changeMenu()"> <mat-icon>close</mat-icon> </button>
    </div>

    <div class = "mobileChatlist">
      <div *ngFor="let convo of chatrooms">
        <mat-card  *ngIf="convo.user != undefined && activeUser != undefined" (click)="changeActive(convo)" [ngClass] = "{'person': convo.user._id != activeUser._id, 'activePerson': convo.user._id == activeUser._id}">
          <mat-card-content>
            <div class = "img">
              <div *ngIf="online.includes(convo.user._id)">
                <i class="fa fa-circle"></i>
              </div>
              <img class = "userImage" src = "{{convo.user.image}}">
              <span class = "name"> {{convo.user.fname}} {{convo.user.sname}} </span>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card  *ngIf="convo.user != undefined && activeUser == undefined" (click)="changeActive(convo)" class = "person">
          <mat-card-content>
            <div class = "img">
              <div *ngIf="online.includes(convo.user._id)">
                <i class="fa fa-circle"></i>
              </div>
              <img class = "userImage" src = "{{convo.user.image}}">
              <span class = "name"> {{convo.user.fname}} {{convo.user.sname}} </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> <!-- end of chatlist -->

  <!--messaging -->
  <div [ngClass] = "{'openMessaging': !isMenuOpen, 'closedMessaging': isMenuOpen}">
    <div style = "text-align: left">
      <button mat-icon-button class = "openMenuButton" (click) = "changeMenu()"><mat-icon>people</mat-icon></button>
    </div>
    <div (scroll)="scrollHandler($event)" class = "messages">
      <!--shows each users message-->
      <div *ngFor="let msg of messages">
        <div class = "msgDiv">
          <!--If message is sent by user-->
          <div *ngIf = "user._id == msg.sender">
            <div class = "messageRightDiv"> {{msg.body}}</div>
          </div>

          <!--If message is sent by person user is talking to-->
          <div *ngIf = "activeUser._id == msg.sender">
            <div class = "messageLeftDiv"> {{msg.body}}</div>
          </div>
        </div>
        <br><br><br>
      </div>
    </div>

    <!-- Send message box -->
    <div class = "typeMessage">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
        <input matInput placeholder="Type here.." formControlName="body" class = "msgInput">
        <button type="submit"><i class="fa fa-send"></i></button>
      </form>
    </div>
  </div>
</div>




