.findPeople{
  float: left;
  height: 93vh;
  width: 30%;
  border-right: 1px solid #969696;
  background-color: white;
  text-align: center;
  font-family: 'Gotu', sans-serif;
}

.messaging{
  float: left;
  text-align: center;
  width: 70%;
  height: 93vh;
  background-color: #eeeeee;
}

.search{
  display: inline-block;
  text-align: center;
  border: 1px solid #7b7b7b;
  margin: 1%;
  width: 90%;
  height: 5vh;
}

.people{
  display: inline-block;
  text-align: left;
  width: 90%;
  height: 86.5vh;
  overflow-y: auto;

}

.userImage{
  width: 40px;
  height: 40px;
  object-fit:cover;
  border-radius: 50%;
}

.person, .activePerson{
  margin: 2%;
}

.activePerson{
  background-color: #542361;
}

.person:hover{
  background-color: #ebeeff;
}

.msgDiv{
  width: 100%;
}

.messages{
  display: inline-block;
  height: 80vh;
  margin: 2%;
  width: 95%;
  background-color: #eeeeee;
}

.typeMessage{
  display: inline-block;
  text-align: center;
  height: 6vh;
  width: 90%;
}



.img i{
  position: absolute;
  font-size: 10px;
  color: #27b866;
  border:1px solid #fff;
  border-radius: 50%;
  left: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.time{
  font-size: 0.8em;
}

.recentMsg{
  font-size: 0.8em;
}

.msgInput{
  width: 80%;
}

.name{
  font-family: 'Gotu', sans serif;
}

.messageRightDiv, .messageLeftDiv{
  max-width: 80%;
  color: #ebebeb;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 1px;
}

.messageRightDiv{
  float: right;
  text-align: left;
  background-color: #87898f;
  padding-right: 2%;
  padding-left: 2%;
  border-top-right-radius: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.imageRight{
  float: right;
  width: 40px;
  max-width: 16%;
  height: 40px;
  margin-left: 2px;
  object-fit:cover;
  border-radius: 50%;
}


.messageLeftDiv{
  float: left;
  text-align: right;
  background-color: #5b7a85;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.imageLeft{
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  object-fit:cover;
  border-radius: 50%;
}
