.openChatlist, .closeChatlist{
  float: left;
  height: 93vh;
  background-color: white;
  text-align: center;
  font-family: 'Gotu', sans-serif;
}
.openChatlist{
  width: 40%;
}
.closeChatlist{
  width: 0%;
  overflow-x: hidden;
}
.closeMenuButton{
  height: 10vh;
}
.mobileChatlist{
  height: 82vh;
  display: inline-block;
  text-align: left;
  overflow-y: auto;
  width: 100%;
}
.userImage{
  width: 40px;
  height: 40px;
  object-fit:cover;
  border-radius: 50%;
}
.person, .activePerson{
  width: 90%;
  margin: 5%;
}
.activePerson{
  background-color: #542361;
  color: #ebebeb;
}
.person:hover{
  background-color: #ebeeff;
}
.img i{
  position: absolute;
  font-size: 10px;
  color: #27b866;
  border:1px solid #fff;
  border-radius: 50%;
  left: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
}
.name{
  font-family: 'Gotu', sans serif;
}
.openMessaging, .closedMessaging{
  float: left;
  text-align: center;
  height: 93vh;
  background-color: #eeeeee;
  overflow: hidden;
}
.openMessaging{
  width: 100%;
}
.closedMessaging{
  width: 60%;
}
.openMenuButton{
  width: 10vh;
}
.messages{
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 70vh;
  margin: 2vh;
  width: 95%;
  background-color: #eeeeee;
}
.typeMessage{
  display: inline-block;
  text-align: center;
  height: 6vh;
  width: 90%;
}
.msgDiv{
  width: 100%;
  height: fit-content;
  padding: 2px;
  clear: both;
}
.messageRightDiv, .messageLeftDiv{
  max-width: 80%;
  color: #ebebeb;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.messageRightDiv{
  float: right;
  text-align: left;
  background-color: #87898f;
  padding-right: 2%;
  padding-left: 2%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 2%;
  margin-bottom: 5%;
}
.imageRight{
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  object-fit:cover;
  border-radius: 50%;
}
.messageLeftDiv{
  float: left;
  text-align: left;
  background-color: #5b7a85;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 2%;
  margin-bottom: 2%;
}
.imageLeft{
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  object-fit:cover;
  border-radius: 50%;
}
.msgInput{
  width: 80%;
  max-height:6vh;
}

.sendMsgIcon{
  max-width: 20%;
  max-height: 6vh;
}
.container{
  height: 93vh;
  overflow: hidden;
}
.recentMsg{
  font-size: 0.8em;
}
.noMessages{
  height: 93vh;
  background-color: white;
  width: 100vh;
  line-height: 93vh;
  text-align: center;
}
.noMessages span{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
