.toolbar{
  height: 7vh;
  background-color: #542361;
}

a{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.5vh;
  color: white;
}

#title{
  font-family: 'Gotu', sans-serif;
  font-size: 3vh;
}

#mu{
  font-family: 'Garamond';
  font-size: 4vh;
}

.spacer {
  flex: 1 1 auto;
}

