.welcome{
  width: 40%;
  font-family: 'Gotu', sans-serif;
  padding: 5%;
}

.sub{
  font-size: 1.5em;
  height: fit-content;
  width: fit-content;
}

.head{
  font-size: 3em;
  height: fit-content;
  width: fit-content;
}


