<div class = "background">
  <mat-card class = "welcome">
    <mat-card-content>
      <div class = "homeDiv">
        <span> Welcome to<br>
          <!--<span class = "name"> Love<span id='mu'>μ</span></span>-->
          <span class = "name"> Love<img id = "mu" src = "/logo-home.png"></span>
          <br> A dating website that matches you based on your music!
        </span>
        <br>
        <img class = "logo" src = "/assets/logo-purple.png">
      </div>
    </mat-card-content>
  </mat-card>
</div>
