@font-face {
    font-family: 'Garamond';
    src: url('assets/fonts/mu/Garamond.woff2') format('woff2'),
        url('assets/fonts/mu/Garamond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

