<div class = "background">
  <h2>Registration</h2>
  <div class = "regDiv">
    <form class = "registration" [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
      <mat-card class = "registrationCard">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email">
            <mat-error *ngIf="email.hasError('required')">Email is Required</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is Invalid</mat-error>
          </mat-form-field> &nbsp;
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">Password is Required</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Password Must Have 5 Characters</mat-error>
            <mat-error *ngIf="password.hasError('maxlength')">Password Must Be Less Than 40 Characters</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="user_name">
            <mat-error *ngIf="user_name.hasError('required')">Username is Required</mat-error>
            <mat-error *ngIf="user_name.hasError('minlength')">Username Must Have 5 Characters</mat-error>
            <mat-error *ngIf="user_name.hasError('maxlength')">Username Must Have Less Than 20 Characters</mat-error>
          </mat-form-field>&nbsp;
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="fname">
            <mat-error *ngIf="fname.hasError('required')">First Name is Required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Surname" formControlName="sname">
            <mat-error *ngIf="sname.hasError('required')">Surname is Required</mat-error>
          </mat-form-field>&nbsp;
          <mat-form-field>
            <mat-select placeholder="County" formControlName="location">
              <mat-option value="Antrim">Antrim</mat-option>
              <mat-option value="Armagh">Armagh</mat-option>
              <mat-option value="Carlow">Carlow</mat-option>
              <mat-option value="Cavan">Cavan</mat-option>
              <mat-option value="Clare">Clare</mat-option>
              <mat-option value="Cork">Cork</mat-option>
              <mat-option value="Derry">Derry</mat-option>
              <mat-option value="Donegal">Donegal</mat-option>
              <mat-option value="Down">Down</mat-option>
              <mat-option value="Dublin">Dublin</mat-option>
              <mat-option value="Fermanagh">Fermanagh</mat-option>
              <mat-option value="Galway">Galway</mat-option>
              <mat-option value="Kerry">Kerry</mat-option>
              <mat-option value="Kildare">Kildare</mat-option>
              <mat-option value="Kilkenny">Kilkenny</mat-option>
              <mat-option value="Laois">Laois</mat-option>
              <mat-option value="Leitrim">Leitrim</mat-option>
              <mat-option value="Limerick">Limerick</mat-option>
              <mat-option value="Longford">Longford</mat-option>
              <mat-option value="Louth">Louth</mat-option>
              <mat-option value="Mayo">Mayo</mat-option>
              <mat-option value="Meath">Meath</mat-option>
              <mat-option value="Monaghan">Monaghan</mat-option>
              <mat-option value="Offaly">Offaly</mat-option>
              <mat-option value="Roscommon">Roscommon</mat-option>
              <mat-option value="Sligo">Sligo</mat-option>
              <mat-option value="Tipperary">Tipperary</mat-option>
              <mat-option value="Tyrone">Tyrone</mat-option>
              <mat-option value="Waterford">Waterford</mat-option>
              <mat-option value="Westmeath">Westmeath</mat-option>
              <mat-option value="Wexford">Wexford</mat-option>
              <mat-option value="Wicklow">Wicklow</mat-option>
            </mat-select>
            <mat-error *ngIf="location.hasError('required')">Location is Required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select formControlName="gender" placeholder="Gender">
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Rather Not Say">Rather Not Say</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="gender.hasError('required')">Gender is Required</mat-error>
          </mat-form-field>&nbsp;

          <mat-form-field>
            <mat-select formControlName="sexuality" placeholder="I want to see">
              <mat-option value="Male"> Men </mat-option>
              <mat-option value="Female"> Women </mat-option>
              <mat-option value="Everyone"> Everyone </mat-option>
            </mat-select>
            <mat-error *ngIf="sexuality.hasError('required')">Sexuality is Required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dob.hasError('required')">Date of Birth is Required</mat-error>
          </mat-form-field>
          <mat-form-field class = "bio">
            <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
            <mat-error *ngIf="bio.hasError('required')">Bio is Required</mat-error>
          </mat-form-field>
          <br>
          <img src = "temp/{{filePath}}" width="20%"><br>
          <button type="button" mat-raised-button (click)="fileUpload.click()">Upload photo</button><p>{{message}}</p>
          <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;"  (click)="onClick()" />

        </mat-card-content>
        <mat-card-footer>
          <button type="submit" mat-raised-button>Register</button><br>
          <a href="https://lovemu.compsoc.ie/auth/google"><img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"></a>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</div>
