<h2> Profile </h2>
<!-- Generic profile page shown for all profiles -->
<mat-card *ngIf="user && !this.isCurrentUser">
  <div>
    <img src= {{user.image}} width="100" height="100">
  </div>
  <div>
    Name: {{user.fname}} {{user.sname}}
    <br>
    Location: {{user.location}}
    <br>
    <span *ngIf="user.gender!='R'">Gender: {{user.gender}}</span>
    <br>
    Sexuality: {{user.sexuality}}
  </div>
  <mat-card-content>
    <p>
      Bio <br> {{user.bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/message/{{user._id}}" mat-button>Message</button>
  </mat-card-actions>
</mat-card>

<!-- This is only shown to a user when they are editing a profile that is their own-->
<div class = "profileDiv">
<mat-card class = "profile" *ngIf="user && this.isCurrentUser">
  <button mat-raised-button> Edit profile </button>

  <div>
    <img src= {{user.image}} width="100" height="100">
  </div>

  <div>
    Name: {{user.fname}} {{user.sname}}
    <br>
    Location: {{user.location}}
    <br>
    <span *ngIf="user.gender!='Rather Not Say'">Gender: {{user.gender}}</span>
    <br>
    Sexuality: {{user.sexuality}}
  </div>
  <mat-card-content>
    <p>
      Bio <br> {{user.bio}}
    </p>
  </mat-card-content>
</mat-card>
</div>

<div class = "profileDiv" *ngIf="user && this.isCurrentUser">
  <form>
    <mat-card class = "profile">
      <mat-card-header>
        <h3>Edit profile</h3>
      </mat-card-header>

      <mat-form-field>
        <input matInput placeholder="New image URL">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="First name">
        <input matInput placeholder="Surname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="County" formControlName="location">
          <mat-option value="Antrim">Antrim</mat-option>
          <mat-option value="Armagh">Armagh</mat-option>
          <mat-option value="Carlow">Carlow</mat-option>
          <mat-option value="Cavan">Cavan</mat-option>
          <mat-option value="Clare">Clare</mat-option>
          <mat-option value="Cork">Cork</mat-option>
          <mat-option value="Derry">Derry</mat-option>
          <mat-option value="Donegal">Donegal</mat-option>
          <mat-option value="Down">Down</mat-option>
          <mat-option value="Dublin">Dublin</mat-option>
          <mat-option value="Fermanagh">Fermanagh</mat-option>
          <mat-option value="Galway">Galway</mat-option>
          <mat-option value="Kerry">Kerry</mat-option>
          <mat-option value="Kildare">Kildare</mat-option>
          <mat-option value="Kilkenny">Kilkenny</mat-option>
          <mat-option value="Laois">Laois</mat-option>
          <mat-option value="Leitrim">Leitrim</mat-option>
          <mat-option value="Limerick">Limerick</mat-option>
          <mat-option value="Longford">Longford</mat-option>
          <mat-option value="Louth">Louth</mat-option>
          <mat-option value="Mayo">Mayo</mat-option>
          <mat-option value="Meath">Meath</mat-option>
          <mat-option value="Monaghan">Monaghan</mat-option>
          <mat-option value="Offaly">Offaly</mat-option>
          <mat-option value="Roscommon">Roscommon</mat-option>
          <mat-option value="Sligo">Sligo</mat-option>
          <mat-option value="Tipperary">Tipperary</mat-option>
          <mat-option value="Tyrone">Tyrone</mat-option>
          <mat-option value="Waterford">Waterford</mat-option>
          <mat-option value="Westmeath">Westmeath</mat-option>
          <mat-option value="Wexford">Wexford</mat-option>
          <mat-option value="Wicklow">Wicklow</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select formControlName="gender" placeholder="Gender">
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Rather Not Say">Rather Not Say</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select formControlName="sexuality" placeholder="I want to see">
          <mat-option value="Male"> Men </mat-option>
          <mat-option value="Female"> Women </mat-option>
          <mat-option value="Everyone"> Everyone </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
      </mat-form-field>
    </mat-card>
  </form>
</div>