<!--<h2> Message Page</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="Message" formControlName = "message">
  </mat-form-field><br>
  <button type="submit" mat-raised-button> Send </button>
</form>-->
<div *ngFor="let message of messages">
  {{message}}
</div>

<form class = "registration" [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
  <mat-card class = "registrationCard">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="id to send to" formControlName="recipient">
      </mat-form-field> &nbsp;
      <mat-form-field>
        <input matInput placeholder="Body" formControlName="body">
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" mat-raised-button>Send Message</button>
    </mat-card-footer>
  </mat-card>
</form>

<!--<form class = "registration" [formGroup]="retrieveForm" (ngSubmit)="onSubmit(retrieveForm.value)">
  <mat-card class = "registrationCard">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="id to get" formControlName="recipient">
      </mat-form-field> &nbsp;
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" mat-raised-button>Send Message</button>
    </mat-card-footer>
  </mat-card>
</form>-->

<ul id="messages"></ul>
<div class="form">
  <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
  <button (click)="sendMessage()">Send</button>
</div>