.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.userCard{
  max-width: 300px;
  margin: 2.5%;
  text-align: center;
}
/* Makes web page responsive so that cards will go to next line*/
.container .userCard{
  flex: 1 0 250px;
}

/*Contains image*/
.userDiv{
  display: inline-block;
  width: 30%;
  min-height: 30%;
}

.userImage{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius: 50%;
}


.userInfo, .userBio{
  width: 100%;
  background-color: cadetblue;
}

.userBio{
  min-height: 20vh;
}

h3{
  color: white;
  font-family: 'Gotu', sans-serif;
}

