<h2>
    Dashboard
  </h2>
  
  <mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let user of users">
  <mat-card>
    <mat-card-header>
      <div class = 'name'>
        <mat-card-title>{{user.fname}}  {{user.sname}}</mat-card-title>
        <mat-card-subtitle>{{user.user_name}}</mat-card-subtitle>
      </div>
      <img src = {{user.image}} width="100" height="100">
    </mat-card-header>
    <mat-card-content>
      <div>
  
      </div>
    </mat-card-content>
  </mat-card>
  </mat-grid-tile>
  </mat-grid-list>