<div class = "container">
  <div class = "findPeople">
    <div class = "search"> Search Box </div>
    <br>
    <div class = "people">
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 1
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 2
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 3
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 4
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 5
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 6
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 7
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 8
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 9
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 10
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 11
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 12
        </mat-card-content>
      </mat-card>
      <mat-card class = "person">
        <mat-card-content>
          <img class = "userImage" src = "default.png"> Person 13
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class = "messaging">
    <div class = "messages">
      <div class = "otherUser"> Hey how are you? What is up??? </div>
      <br><br>
      <div class = "currentUser"> The sky bro.</div>
      <br><br>
      <div class = "otherUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "currentUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "otherUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "currentUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "otherUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "currentUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "otherUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
      <div class = "currentUser"> No fucking way bro why u gotta be so sarcastic bro? bro. fuck you bro. hahahhaha. u think ur so funny bro. well bro. we'll see about that</div>
      <br><br>
    </div>
    <div class = "typeMessage">
      Type message here.........
    </div>
  </div>
</div>
