<h2> Welcome back to LoveMu! </h2>
<h3> Login </h3>
<div class = "loginDiv">
<form [formGroup]="loginForm" class = "loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-card class = "loginCard">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="email" placeholder="Email Address" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" mat-raised-button>Login</button>
    </mat-card-footer>
  </mat-card>
</form>
</div>
