input[type="email"] { text-transform: lowercase; }

.loginDiv{
  text-align: center;
  display: block;
}

.loginForm{
  display: inline-block;
}

.loginCard{
  background-color: white;
  border-radius: 5%;
}

button{
  margin: 5%;
}
