.background {
  background-image: url("/assets/record_bground.jpg");
  background-size: cover;
  min-height: 93vh;
  position: relative;
}

.loginDiv{
  text-align: center;
  display: block;
}

.loginForm{
  display: inline-block;
}

.loginCard{
  background-color: white;
}

button{
  margin: 5%;
}
