<h2> Login Page</h2>
<mat-card class = "loginCard">
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Email Address">
    </mat-form-field>
    <br>
    <mat-form-field>
       <input matInput placeholder="Password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button>LOGIN BITCH (: LOVE U</button>
    <button onClick = "alert('<3')" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
